---
import Layout from '@layouts/Layout.astro';
import SpaceBackground from '@components/SpaceBackground.astro';
---

<Layout title="Welcome to My Portfolio.">
	<main>
		<SpaceBackground />
	</main>
</Layout>