---
import Layout from '@layouts/Layout.astro';
import SpaceBackground from '@components/SpaceBackground.astro';
---

<Layout title="Welcome to My Portfolio.">
	<main>
		<SpaceBackground>
			<div class="flex justify-center text-center flex-col w-screen h-screen">
				<div class="l-border-box">
					<h1>Interactive Mode</h1>
				</div>

				<div class="l-border-box">
					<h1>Classic Mode</h1>
				</div>
			</div>
		</SpaceBackground>
	</main>
</Layout>