---
import { getEntry } from "astro:content";
import Card from "./Card.astro"

const { lang, } = Astro.params;

const resume = await getEntry('about', lang as string);
const { summary } = resume?.data!;
---
<Card>          
    <p>{ summary }</p>
</Card>