<div class="w-full h-full space-background"></div>

<script>
    import spaceBacground from '../scripts/spaceBackgroud';

    const component = document.getElementsByClassName('space-background').item(0)!;

    spaceBacground(component);
</script>