---
import "../assets/global.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My portfolio web" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/portfolio-web/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-0 p-0 w-screen h-screen">
		<main class="m-0 p-0 w-screen h-screen">
			<slot />
		</main>
	</body>

	<footer>

	</footer>
</html>